.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon.open,
.acordeon:hover{
    background-color: #474589;
    border-color: #474589;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;    
    text-align: start;
}

.acordeon .trigger h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;   
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    background-image: url('../imgs/icons/icon-button.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .trigger:hover{
    cursor: pointer;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: block;
    height: auto;
    padding: 0 1rem 1rem 1rem;
    opacity: 1;
}